<div id="action">
    <div class="item all current">
        <div class="img">&nbsp;</div>
        <div class="text">All</div>
        <div class="count">&nbsp;([%  %])</div>
    </div>
    <div class="item downloading">
        <div class="img">&nbsp;</div>
        <div class="text">Downloading</div>
        <div class="count">&nbsp;([%  %])</div>
    </div>
    <div class="item completed">
        <div class="img">&nbsp;</div>
        <div class="text">Completed</div>
        <div class="count">&nbsp;([%  %])</div>
    </div>
    <div class="item active">
        <div class="img">&nbsp;</div>
        <div class="text">Active</div>
        <div class="count">&nbsp;([%  %])</div>
    </div>
    <div class="item inactive">
        <div class="img">&nbsp;</div>
        <div class="text">Inactive</div>
        <div class="count">&nbsp;([%  %])</div>
    </div>
</div>