<div id="panel">
    <input type="button" class="panel delete"/>
    <span class="panel separator">&nbsp;</span>
    <input type="button" class="panel start"/>
    <input type="button" class="panel pause"/>
    <input type="button" class="panel stop"/>
    <span class="panel separator">&nbsp;</span>
    <input type="button" class="panel priority_up"/>
    <input type="button" class="panel priority_down"/>
    <span class="panel separator">&nbsp;</span>
    <input type="button" class="panel refresh"/>
</div>
<div id="settings">
    <div class="param refresh">
        <select id="refresh">
            [% SET str_sec = gettext('sec.') %]
            [% SET str_min = gettext('min.') %]
            [% SET time = [
                    {'0'     => gettext('Never')},
                    {'5'     => '5  ' _ str_sec},
                    {'10'    => '10 ' _ str_sec},
                    {'15'    => '15 ' _ str_sec},
                    {'30'    => '30 ' _ str_sec},
                    {'60'    => '1  ' _ str_min},
                    {'120'   => '2  ' _ str_min},
                    {'180'   => '3  ' _ str_min},
                    {'300'   => '5  ' _ str_min},
                    {'600'   => '10 ' _ str_min},
                    {'1800'  => '30 ' _ str_min},
                ]
            %]
            [% FOR tm = time %]
                <option
                    value="[% tm.keys.0 %]"
                    [% IF data.refresh == tm.keys.0 %]selected="selected"[% END %]>
                        [% tm.values.0 %]
                </option>
            [% END %]
        </select>
    </div>
    <div class="param skin">
        <select id="skin">
            [% FOR sk IN skins %]
                <option
                    value="[% sk.key | html %]"
                    [% IF data.skin == sk.key %]selected="selected"[% END %]>
                        [% sk.value | html %]
                </option>
            [% END %]
        </select>
    </div>
    <div class="param locale">
        <select id="locale">
            [% FOR lg = langs %]
                <option
                    value="[% lg | html %]"
                    [% IF data.locale == lg %]selected="selected"[% END %]>
                        [% lg | upper | html %]
                </option>
            [% END %]
        </select>
    </div>
</div>