<body class="[% data.prop %]">
    <div class="inlays">
        <div id="info" class="item info [% IF data.prop == 'info'%]selected[% END %]">
            [% gettext('Info') %]
        </div>
        <div id="peers" class="item peers [% IF data.prop == 'peers'%]selected[% END %]">
            [% gettext('Peers') %]
        </div>
        <div id="files" class="item files [% IF data.prop == 'files'%]selected[% END %]">
            [% gettext('Files') %]
        </div>
        <div id="trackers" class="item trackers [% IF data.prop == 'trackers'%]selected[% END %]">
            [% gettext('Trackers') %]
        </div>
        <div id="chunks" class="item chunks [% IF data.prop == 'chunks'%]selected[% END %]">
            [% gettext('Chunks') %]
        </div>
        <div id="transfer" class="item transfer [% IF data.prop == 'transfer'%]selected[% END %]">
            [% gettext('Transfer') %]
        </div>
    </div>
    <div class="properties [% data.prop %]">
        [% SWITCH data.prop %]
            [% CASE 'info';     INCLUDE Info        %]
            [% CASE 'peers';    INCLUDE Peers       %]
            [% CASE 'files';    INCLUDE Files       %]
            [% CASE 'trackers'; INCLUDE Trackers    %]
            [% CASE 'chunks';   INCLUDE Chunks      %]
            [% CASE 'transfer'; INCLUDE Transfer    %]
            [% CASE DEFAULT %]
                [% gettext('Unknown property page') %]
        [% END %]
    </div>
</body>
[% BLOCK Info ############################################################### %]
<table class="downloaded">
    <colgroup>
        <col width="10%"/>
        <col width="80%"/>
        <col width="10%"/>
    </colgroup>
    <thead>
        <tr>
            <th>[% gettext('Downloaded') %]</th>
            <td class="percent">
                <div class="percent" style="width: [% data.info.percent %];" />
            </td>
            <td class="spercent">[% data.info.percent %]</td>
        </tr>
    </thead>
</table>

<table class="transfer">
    <colgroup>
        <col width="10%"/>
        <col width="23%"/>
        <col width="10%"/>
        <col width="23%"/>
        <col width="10%"/>
        <col width="24%"/>
    </colgroup>
    <thead>
        <tr><th colspan="6">[% gettext('Transfer') %]</th></tr>
    </thead>
    <tbody>
        <tr>
            <th>[% gettext('Downloaded') %]</th>
            <td>[% data.info.human_done %]</td>
            <th>[% gettext('Down Speed') %]</th>
            <td>[% data.info.human_down_rate %]</td>
            <th>[% gettext('Peers connected') %]</th>
            <td>
                [%
                    data.info.peers_connected
                    _ ' '
                    _ gettext('from')
                    _ ' '
                    _ data.info.peers_max
                %]
            </td>
        </tr>
        <tr>
            <th>[% gettext('Uploaded') %]</th>
            <td>[% data.info.human_up_total %]</td>
            <th>[% gettext('Up Speed') %]</th>
            <td>[% data.info.human_up_rate %]</td>
            <th>[% gettext('Peers not connected') %]</th>
            <td>[% data.info.peers_not_connected %]</td>
        </tr>
    </tbody>
</table>

<table class="tracker">
    <colgroup>
        <col width="10%"/>
        <col width="23%"/>
        <col width="10%"/>
        <col width="23%"/>
        <col width="10%"/>
        <col width="24%"/>
    </colgroup>
    <thead>
        <tr><th colspan="6">[% gettext('Tracker') %]</th></tr>
    </thead>
    <tbody>
        <tr>
            <th>[% gettext('Message') %]</th>
            <td class="message">[% data.info.message %]</td>
            <th>[%# gettext('') %]</th>
            <td>[%# data.info %]</td>
            <th>[%# gettext('') %]</th>
            <td>[%# data.info %]</td>
        </tr>
    </tbody>
</table>

<table class="general">
    <colgroup>
        <col width="10%"/>
        <col width="40%"/>
        <col width="10%"/>
        <col width="40%"/>
    </colgroup>
    <thead>
        <tr><th colspan="4">[% gettext('General') %]</th></tr>
    </thead>
    <tbody>
        <tr>
            <th>[% gettext('Directory') %]</th>
            <td>[% data.info.directory %]</td>
            <th>[% gettext('Chunks') %]</th>
            <td>
                [%
                    data.info.size_chunks
                    _ ' '
                    _ gettext('x')
                    _ ' '
                    _ data.info.chunk_size
                %]
                ([% data.info.completed_chunks _ ' ' _ gettext('done') %])
            </td>
        </tr>
        <tr>
            <th>[% gettext('Total size') %]</th>
            <td>
                [% data.info.human_size %]
                ([% data.info.human_done _ ' ' _ gettext('done') %])
            </td>
            <th>[% gettext('Hash') %]</th>
            <td>[% data.info.hash %]</td>
        </tr>
        <tr>
            <th>[% gettext('Created On') %]</th>
            <td>[% data.info.creation_date %]</td>
            <th>[% gettext('Local ID') %]</th>
            <td>[% data.info.local_id %]</td>
        </tr>
        <tr>
            <th>[% gettext('Comment') %]</th>
            <td>[% data.info.name %]</td>
            <th>[%# %]</th>
            <td>[%# %]</td>
        </tr>
    </tbody>
</table>
[% END ###################################################################### %]

[% BLOCK Peers ############################################################## %]
<table class="peers_info">
    <colgroup>
        <col width="10%"/>
        <col width="23%"/>
        <col width="10%"/>
        <col width="23%"/>
        <col width="10%"/>
        <col width="24%"/>
    </colgroup>
    <thead>
        <tr><th colspan="6">[% gettext('Peers properties') %]</th></tr>
    </thead>
    <tbody>
        <tr>
            <th>[% gettext('Peers connected') %]</th>
            <td>[% data.info.peers_connected %]</td>
            <th>[% gettext('Peers max') %]</th>
            <td>[% data.info.peers_max %]</td>
            <th>[% gettext('Peers exchange') %]</th>
            <td>
                [% IF data.info.peer_exchange %]
                    [% gettext('on') %]
                [% ELSE %]
                    [% gettext('off') %]
                [% END %]
            </td>
        </tr>
        <tr>
            <th>[% gettext('Peers accounted') %]</th>
            <td>[% data.info.peers_accounted %]</td>
            <th>[% gettext('Peers min') %]</th>
            <td>[% data.info.peers_min %]</td>
            <th></th>
            <td></td>
        </tr>
        <tr>
            <th>[% gettext('Peers complete') %]</th>
            <td>[% data.info.peers_complete %]</td>
            <th></th>
            <td></td>
            <th></th>
            <td></td>
        </tr>
        <tr>
            <th>[% gettext('Peers not connected') %]</th>
            <td>[% data.info.peers_not_connected %]</td>
            <th></th>
            <td></td>
            <th></th>
            <td></td>
        </tr>
    </tbody>
</table>

<table class="peers_list">
    <thead>
        <tr><th colspan="6">[% gettext('Peers list') %]</th></tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>
[% END ###################################################################### %]

[% BLOCK Files ############################################################## %]
<table class="files">
    <colgroup>
        <col width="1%" />
        <col width="69%" />
        <col width="5%" />
        <col width="5%" />
        <col width="10%" />
        <col width="5%" />
        <col width="5%" />
    </colgroup>
    <thead>
        <tr>
            <th/>
            <th>[% gettext('Path') %]</th>
            <th>[% gettext('Size') %]</th>
            <th>[% gettext('Done') %]</th>
            <th>[% gettext('%') %]</th>
            <th>[% gettext('Chunks') %]</th>
            <th>[% gettext('Priority') %]</th>
        </tr>
    </thead>
    [% FOR file = data.info %]
        [% SET class = [] %]
        [% IF loop.index % 2; class.push('odd'); ELSE; class.push('even'); END %]
        [% IF data.file == file.hash; class.push('selected'); END %]
        <tbody class="[% class.join(' ') %]">
            <tr>
                <td class="select">
                    <input
                        type="checkbox"
                        name="hash[]"
                        value="[%# %]"/>
                </td>
                <td class="path">[% file.path %]</td>
                <td class="size">[% file.human_size %]</td>
                <td class="spercent">[% file.percent %]</td>
                <td class="percent">
                    <div class="percent" style="width: [% file.percent %];" />
                </td>
                <td class="chunks">[% file.size_chunks %]</td>
                <td class="priority">[%# gettext(file.priority_str) %]</td>
            </tr>
        </tbody>
    [% END %]
</table>
[% END ###################################################################### %]

[% BLOCK Trackers ########################################################### %]
[% END ###################################################################### %]

[% BLOCK Chunks ############################################################# %]
[% END ###################################################################### %]

[% BLOCK Transfer ########################################################### %]
[% END ###################################################################### %]