<frameset id="frms_main" rows="32px,*,32px" border="1px">
    <frame src="panel.cgi" id="frm_panel" noresize="noresize" />
    <frameset id="frms_middle" rows="*" cols="10%,*" border="4px">
        <frame src="action.cgi" id="frm_action" />
        <frameset id="frms_content" rows="60%,*">
            <frame src="list.cgi" id="frm_list" />
            <frame src="prop.cgi" id="frm_prop" />
        </frameset>
    </frameset>
    <frame src="status.cgi" id="frm_status" noresize="noresize" />
</frameset>