<body>
<div id="action">
    [% FOR row = data.list %]
        [% SET class = ['item'] %]
        [% class.push(row.action) %]
        [% IF data.action == row.action; class.push('selected'); END %]
        <div class="[% class.join(' ') %]">
            <div class="img">&nbsp;</div>
            <input
                type="button"
                class="[% row.action %]"
                value="[% gettext(row.name) %]"/>
            <div class="count">[% row.count %]</div>
        </div>
    [% END %]
 <div id="logo">
    <img alt="RTPG [% version %]" src="[% config.url.skin.base _ '/logo.png' %]">
</div>
</body>