<body>

<form action="index.cgi" method="post" enctype="multipart/form-data">
<input type="hidden" name="show" value="add" />
    <table class="source">
        <colgroup>
            <col width="15%"/>
            <col/>
        </colgroup>

        <tbody>
        <tr>
            <td class="label">
                <label for="link">[% gettext('Link') %]:</label>
            </td>
            <td class="input">
                <textarea rows="4" name="link" id="link"
                    title="[% gettext('One link per line') %]"
                    ></textarea>
            </td>
        </tr>

        <tr>
            <td/>
            <td class="note">
                [%
                  gettext('Note: rTorrent don`t notify you about broken links.')
                  _ ' ' _
                  gettext('Just attempt to load this links.')
                %]
            </td>
            <td/>
        </tr>

        <tr><td colspan="2">&nbsp;</td></tr>

        <tr>
            <td class="label">
                <label for="file">[% gettext('File') %]:</label>
            </td>
            <td class="input">
                <input type="file" name="file" id="file" />
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <table width="100%">
                    <tr>
                        <td width="50%" align="right">
                            <button>
                                <img src="[% config.url.skin.panel %]/add.png" />
                                [% gettext('Add') %]
                            </button>
                        </td>
                        <td width="50%" align="right">
                            <button class="close">
                                <img src="[% config.url.skin.panel %]/close.png" />
                                [% gettext('Close') %]
                            </button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</form>


[% FOREACH one = data.added %]
    <div class="message" [% IF one.error %]class="error"[% END %]>
        [% SWITCH one.type %]
            [% CASE 'file' %]
                [% gettext('Adding file: ') %]
            [% CASE 'link' %]
                [% gettext('Adding link: ') %]
            [% CASE DEFAULT %]
                [% gettext('Internal error: ') %]
        [% END %]
        [% one.torrent %]

        [% IF one.error %]
            <span class="error"> - [% one.error %]</span>
        [% ELSE %]
            [% gettext('... Done') %]
        [% END %]
    </div>
[% END %]


</body>
