[%
    # Set control variables
    SET show_action = 1;
    SET show_prop   = 1;
    SET hr = data.horizontal;
    SET vr = data.vertical;

    # Show/hide some frames by "layout"
    SWITCH data.layout;
        CASE 'default';
        CASE 'list';
            hr          = '*';
            show_action = 0;
            vr          = '*';
            show_prop   = 0;
        CASE 'act_list';
            vr          = '*';
            show_prop   = 0;
        CASE 'list_prop';
            hr          = '*';
            show_action = 0;
    END;
%]
<frameset id="frms_main" rows="32px,*" border="1px">
    <frame src="index.cgi?show=panel" id="frm_panel" name="frm_panel" noresize="noresize" />
    <frameset id="frms_middle" rows="*"  cols="[% hr %]" border="4px">
        [% IF show_action %]
            <frame src="index.cgi?show=action" id="frm_action" name="frm_action"/>
        [% END %]
        <frameset id="frms_content" rows="[% vr %]">
            <frame src="index.cgi?show=list" id="frm_list" name="frm_list" />
            [% IF show_prop %]
                <frame src="index.cgi?show=prop" id="frm_prop" name="frm_prop" />
            [% END %]
        </frameset>
    </frameset>
</frameset>