[%-
    # Enable collapse for make html code less by size
    IF config.is_collapse;
        FILTER collapse; INCLUDE Main; END;
    ELSE;
        INCLUDE Main;
    END;
-%]
[%- BLOCK Main -%]
<?xml version="1.0" encoding="UTF-8"?>
[% IF show == 'index' -%]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
[%- ELSE -%]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
[%- END %]
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="[% data.locale %]" lang="[% data.locale %]">
    <head>
        <title>[% config.title %]</title>

        <base href="http://[% config.url.base %]"/>

        <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-language" content="[% data.locale %]" />

        <meta name="author"   content="Dmitry E. Oboukhov" />
        <meta name="author"   content="Roman V. Nikolaev" />
        <meta name="keywords" content="RTPG rTorrent Perl GUI" />
        <meta name="robots"   content="noindex, nofollow" />

        <link rel="shortcut icon"
            href="[% config.url.skin.current %]/favicon.ico?[% version %]" />

        [% FOR css = config.url.skin.css.list %]
            <link rel="stylesheet" type="text/css"
                href="[% css %]?[% version %]" />
        [% END %]

        <script type="text/javascript"
            src="js/jquery.min.js?[% version %]"></script>
        <script type="text/javascript"
            src="js/jquery.cookie.js?[% version %]"></script>

        [% FOR js = config.url.skin.js.list %]
            <script type="text/javascript" src="[% js %]?[% version %]">
            </script>
        [% END %]
    </head>

    [% SWITCH show %]
        [% CASE 'index' %]
            [% content %]
        [% CASE 'prop' %]
            <body [% IF data.prop %]class="[% data.prop %]"[% END %]>
                [% content %]
            </body>
        [% CASE DEFAULT %]
            <body [% IF show %]class="[% show %]"[% END %]>
                [% content %]
            </body>
    [% END %]
</html>
[% END %]
