<div id="panel">
    <input type="button" class="panel add"
        title="[% gettext('Add new torrent') %]" />
    <input type="button" class="panel delete"
        title="[% gettext('Delete selected torrents') %]"/>

    <span class="panel separator">&nbsp;</span>

    <input type="button" class="panel start"
        title="[% gettext('Start selected torrents') %]"/>
    <input type="button" class="panel pause"
        title="[% gettext('Pause selected torrents') %]"/>
    <input type="button" class="panel stop"
        title="[% gettext('Stop selected torrents') %]"/>
    <input type="button" class="panel check"
        title="[% gettext('Check selected torrents for errors') %]"/>

    <span class="panel separator">&nbsp;</span>

    <input type="button" class="panel priority off"
        title="[% gettext('Stop selected torrents') %]"/>
    <input type="button" class="panel priority low"
        title="[% gettext('Set low priority for selected torrents') %]"/>
    <input type="button" class="panel priority normal"
        title="[% gettext('Set normal priority for selected torrents') %]"/>
    <input type="button" class="panel priority high"
        title="[% gettext('Set high priority for selected torrents') %]"/>

    <span class="panel separator">&nbsp;</span>

    <input
        type="button"
        class="panel refresh"
        title="[% gettext('Refresh') %]"/>
</div>
<div id="settings">
    <select id="layout" title="[% gettext('Select layout') | html %]">
        [%
            SET layout = {
                '0'    => gettext('All'),
                '1'    => gettext('List'),
                '2'    => gettext('List and Properties'),
                '3'    => gettext('List and Action'),
            };
        %]
        [% FOR ly IN layout %]
            <option value="[% ly.key %]"
                [% IF data.layout == ly.key %]selected="selected"[% END %]>
                [% ly.value %]
            </option>
        [% END %]
    </select>

    [% IF skins.size > 1 %]
        <select id="skin" title="[% gettext('Select skin') | html %]">
            [% FOR sk IN skins %]
                <option
                    value="[% sk.key | html %]"
                    [% IF data.skin == sk.key %]selected="selected"[% END %]>
                        [% gettext(sk.value) | html %]
                </option>
            [% END %]
        </select>
    [% END %]

    <select id="locale" title="[% gettext('Select language') | html %]">
        [% FOR lg = langs %]
            <option
                value="[% lg | html %]"
                [% IF data.locale == lg %]selected="selected"[% END %]>
                    [% lg | upper | html %]
            </option>
        [% END %]
    </select>
</div>
