<body>
<div id="panel">
    <input type="button" class="panel add"
        title="[% gettext('Add new torrent') %]" />
    <input type="button" class="panel delete"
        title="[% gettext('Delete selected torrents') %]"/>

    <span class="panel separator">&nbsp;</span>

    <input type="button" class="panel start"
        title="[% gettext('Start selected torrents') %]"/>
    <input type="button" class="panel pause"
        title="[% gettext('Pause selected torrents') %]"/>
    <input type="button" class="panel stop"
        title="[% gettext('Stop selected torrents') %]"/>
    <input type="button" class="panel check"
        title="[% gettext('Check selected torrents for errors') %]"/>

    <span class="panel separator">&nbsp;</span>

    <input type="button" class="panel priority off"
        title="[% gettext('Skip selected torrents') %]"/>
    <input type="button" class="panel priority low"
        title="[% gettext('Set low priority for selected torrents') %]"/>
    <input type="button" class="panel priority normal"
        title="[% gettext('Set normal priority for selected torrents') %]"/>
    <input type="button" class="panel priority high"
        title="[% gettext('Set high priority for selected torrents') %]"/>

    <span class="panel separator">&nbsp;</span>

    <input
        type="button"
        class="panel refresh"
        title="[% gettext('Refresh') %]"/>
</div>
<div id="settings">
    <select id="refresh" title="[% gettext('Select refresh interval') | html %]">
        [% SET str_sec = gettext('sec.') %]
        [% SET str_min = gettext('min.') %]
        [% SET time = [
                {'0'     => gettext('Never')},
                {'10'    => '10 ' _ str_sec},
                {'30'    => '30 ' _ str_sec},
                {'60'    => '1  ' _ str_min},
                {'180'   => '3  ' _ str_min},
                {'300'   => '5  ' _ str_min},
                {'600'   => '10 ' _ str_min},
                {'1800'  => '30 ' _ str_min},
            ]
        %]
        [% FOR tm = time %]
            <option
                value="[% tm.keys.0 %]"
                [% IF data.refresh == tm.keys.0 %]selected="selected"[% END %]>
                    [% tm.values.0 %]
            </option>
        [% END %]
    </select>
    <select id="skin" title="[% gettext('Select skin') | html %]">
        [% FOR sk IN skins %]
            <option
                value="[% sk.key | html %]"
                [% IF data.skin == sk.key %]selected="selected"[% END %]>
                    [% sk.value | html %]
            </option>
        [% END %]
    </select>
    <select id="locale" title="[% gettext('Select language') | html %]">
        [% FOR lg = langs %]
            <option
                value="[% lg | html %]"
                [% IF data.locale == lg %]selected="selected"[% END %]>
                    [% lg | upper | html %]
            </option>
        [% END %]
    </select>
</div>
</body>