<table class="trackers">
    <colgroup>
        <col/>
        <col width="5%" />
        <col width="10%" />
        <col width="20%" />
    </colgroup>
    <thead>
        <tr>
            <th>[% gettext('Url')           %]</th>
            <th>[% gettext('Enabled')       %]</th>
            <th>[% gettext('Interval')      %]</th>
            <th>[% gettext('Last Update')   %]</th>
        </tr>
    </thead>
    [% FOR tracker = data.info %]
        [% SET class = [] %]
        [% IF loop.index % 2; class.push('odd'); ELSE; class.push('even'); END %]
        <tbody class="[% class.join(' ') %]">
            <tr>
                <td class="url">
                    [% IF tracker.url == 'dht://' %]
                        <a href="http://[% config.get('locale') %].wikipedia.org/wiki/Distributed_Hash_Table"
                            target="blank">
                           [% tracker.url %]
                        </a>
                    [% ELSE; IF tracker.url.match('^http://retracker\.local') %]
                        <a href="http://[% config.get('locale') %].wikipedia.org/wiki/Retracker"
                            target="blank">
                           [% tracker.url %]
                        </a>
                    [% ELSE %]
                        [% tracker.url %]
                    [% END;END %]
                </td>
                <td class="enabled">
                    [% IF tracker.is_enabled %][% gettext('Yes') %]
                    [% ELSE %][% gettext('No') %]
                    [% END %]
                </td>
                <td class="interval">[% tracker.normal_interval %]</td>
                <td class="last_update">
                    [% UNLESS tracker.scrape_time_last %][% gettext('Never') %]
                    [% ELSE %][% tracker.scrape_time_last.as_human_datetime %]
                    [% END %]
                </td>
            </tr>
        </tbody>
    [% END %]
</table>
