<body class="[% data.prop %]">
    <div class="inlays">
        [% # Menu
            SET menu = ['info', 'peers', 'files', 'trackers']
            #, 'chunks', 'transfer']
        %]
        [% FOR item = menu %]
            <div id="[% item %]"
                 class="item [% item %] [% IF data.prop == item %]selected[% END %]"
            >
                [% gettext(item.ucfirst) %]
            </div>
        [% END %]
        <div class="priority">
            <input type="button" class="inlays priority off"
                title="[% gettext('Off selected files by priority') %]"/>
            <input type="button" class="inlays priority low"
                title="[% gettext('Set low priority for selected files') %]"/>
            <input type="button" class="inlays priority normal"
                title="[% gettext('Set normal priority for selected files') %]"/>
            <input type="button" class="inlays priority high"
                title="[% gettext('Set high priority for selected files') %]"/>

        </div>
    </div>
    [% UNLESS data.current && data.info %]
        <div class="message">
            [% UNLESS data.current %]
                <br/>
                <br/>
                [% gettext('Select torrent to show') %]
            [% END %]
        </div>
    [% ELSE %]
        <div class="properties [% data.prop %]">
            [% SWITCH data.prop;
                CASE 'info';     INCLUDE 'prop.info.tt.html';
                CASE 'peers';    INCLUDE 'prop.peers.tt.html';
                CASE 'files';    INCLUDE 'prop.files.tt.html';
                CASE 'trackers'; INCLUDE 'prop.trackers.tt.html';
                CASE 'chunks';   INCLUDE 'prop.chunks.tt.html';
                CASE 'transfer'; INCLUDE 'prop.transfer.tt.html';
                CASE DEFAULT;    gettext('Unknown property page');
            END %]
        </div>
    [% END %]
</body>
