<body class="[% data.prop %]">
    <div class="inlays">
        <div id="info" class="item info [% IF data.prop == 'info'%]selected[% END %]">
            [% gettext('Info') %]
        </div>
        <div id="peers" class="item peers [% IF data.prop == 'peers'%]selected[% END %]">
            [% gettext('Peers') %]
        </div>
        <div id="files" class="item files [% IF data.prop == 'files'%]selected[% END %]">
            [% gettext('Files') %]
        </div>
        <div id="trackers" class="item trackers [% IF data.prop == 'trackers'%]selected[% END %]">
            [% gettext('Trackers') %]
        </div>
        <div id="chunks" class="item chunks [% IF data.prop == 'chunks'%]selected[% END %]">
            [% gettext('Chunks') %]
        </div>
        <div id="transfer" class="item transfer [% IF data.prop == 'transfer'%]selected[% END %]">
            [% gettext('Transfer') %]
        </div>
    </div>
    [% UNLESS data.current && data.info %]
        <div class="message">
            [% UNLESS data.current %]
                <br/>
                <br/>
                [% gettext('Select torrent to show') %]
            [% END %]
        </div>
    [% ELSE %]
        <div class="properties [% data.prop %]">
            [% SWITCH data.prop %]
                [% CASE 'info';     INCLUDE Info        %]
                [% CASE 'peers';    INCLUDE Peers       %]
                [% CASE 'files';    INCLUDE Files       %]
                [% CASE 'trackers'; INCLUDE Trackers    %]
                [% CASE 'chunks';   INCLUDE Chunks      %]
                [% CASE 'transfer'; INCLUDE Transfer    %]
                [% CASE DEFAULT %]
                    [% gettext('Unknown property page') %]
            [% END %]
        </div>
    [% END %]
</body>
[% BLOCK Info ############################################################### %]
<table class="downloaded">
    <colgroup>
        <col width="10%"/>
        <col width="80%"/>
        <col width="10%"/>
    </colgroup>
    <thead>
        <tr>
            <th>[% gettext('Downloaded') %]</th>
            <td class="percent">
                <div class="percent" style="width: [% data.info.percent %];" />
            </td>
            <td class="spercent">[% data.info.percent %]</td>
        </tr>
    </thead>
</table>

<h4>[% gettext('Transfer') %]</h4>

<table class="transfer">
    <colgroup>
        <col width="10%"/>
        <col width="23%"/>
        <col width="10%"/>
        <col width="23%"/>
        <col width="10%"/>
        <col width="24%"/>
    </colgroup>
    <tbody>
        <tr>
            <th>[% gettext('Downloaded') %]</th>
            <td>[% data.info.human_done %]</td>
            <th>[% gettext('Down Speed') %]</th>
            <td>[% data.info.human_down_rate %]</td>
            <th>[% gettext('Peers connected') %]</th>
            <td>
                [%
                    data.info.peers_connected
                    _ ' '
                    _ gettext('from')
                    _ ' '
                    _ data.info.peers_max
                %]
            </td>
        </tr>
        <tr>
            <th>[% gettext('Uploaded') %]</th>
            <td>[% data.info.human_up_total %]</td>
            <th>[% gettext('Up Speed') %]</th>
            <td>[% data.info.human_up_rate %]</td>
            <th>[% gettext('Peers not connected') %]</th>
            <td>[% data.info.peers_not_connected %]</td>
        </tr>
    </tbody>
</table>

<h4>[% gettext('Tracker') %]</h4>

<table class="tracker">
    <colgroup>
        <col width="10%"/>
        <col width="23%"/>
        <col width="10%"/>
        <col width="23%"/>
        <col width="10%"/>
        <col width="24%"/>
    </colgroup>
    <tbody>
        <tr>
            <th>[% gettext('Message') %]</th>
            <td class="message">[% data.info.message %]</td>
            <th>[%# gettext('') %]</th>
            <td>[%# data.info %]</td>
            <th>[%# gettext('') %]</th>
            <td>[%# data.info %]</td>
        </tr>
    </tbody>
</table>

<h4>[% gettext('General') %]</h4>

<table class="general">
    <colgroup>
        <col width="10%"/>
        <col width="40%"/>
        <col width="10%"/>
        <col width="40%"/>
    </colgroup>
    <tbody>
        <tr>
            <th>[% gettext('Directory') %]</th>
            <td>[% data.info.directory %]</td>
            <th>[% gettext('Chunks') %]</th>
            <td>
                [%
                    data.info.size_chunks
                    _ ' '
                    _ gettext('x')
                    _ ' '
                    _ data.info.chunk_size
                %]
                ([% data.info.completed_chunks _ ' ' _ gettext('done') %])
            </td>
        </tr>
        <tr>
            <th>[% gettext('Total size') %]</th>
            <td>
                [%
                    data.info.human_size _ ' (' _
                    data.info.human_done _ ' ' _ gettext('done') _ '), ' _
                    #data.info.free_diskspace _
                    'N/A' _ ' ' _ gettext('free diskspace')
                %]
            </td>
            <th>[% gettext('Hash') %]</th>
            <td>[% data.info.hash %]</td>
        </tr>
        <tr>
            <th>[% gettext('Created On') %]</th>
            <td>[% data.info.creation_date %]</td>
            <th>[% gettext('Local ID') %]</th>
            <td>[% data.info.local_id %]</td>
        </tr>
        <tr>
            <th>[% gettext('Comment') %]</th>
            <td>[% data.info.name %]</td>
            <th>[%# %]</th>
            <td>[%# %]</td>
        </tr>
    </tbody>
</table>
[% END ###################################################################### %]

[% BLOCK Peers ############################################################## %]
<h4>[% gettext('Peers properties') %]</h4>

<table class="peers_info">
    <colgroup>
        <col width="23%"/>
        <col width="10%"/>
        <col width="23%"/>
        <col width="10%"/>
        <col width="24%"/>
        <col width="10%"/>
    </colgroup>
    <tbody>
        <tr>
            <th>[% gettext('Peers connected') %]</th>
            <td>[% data.info.peers_connected %]</td>
            <th>[% gettext('Peers accounted') %]</th>
            <td>[% data.info.peers_accounted %]</td>
            <th>[% gettext('Peers max') %]</th>
            <td>[% data.info.peers_max %]</td>
        </tr>
        <tr>
            <th>[% gettext('Peers not connected') %]</th>
            <td>[% data.info.peers_not_connected %]</td>
            <th>[% gettext('Peers complete') %]</th>
            <td>[% data.info.peers_complete %]</td>
            <th>[% gettext('Peers min') %]</th>
            <td>[% data.info.peers_min %]</td>
        </tr>
        <tr>
            <th></th>
            <td></td>
            <th></th>
            <td></td>
            <th>[% gettext('Peers exchange') %]</th>
            <td>
                [% IF data.info.peer_exchange %]
                    [% gettext('on') %]
                [% ELSE %]
                    [% gettext('off') %]
                [% END %]
            </td>
        </tr>
    </tbody>
</table>

<h4>[% gettext('Peers list') %]</h4>

<table class="peers_list">
    <colgroup>
        <col width="1%" />
        <col/>
        <col width="10%" />
        <col width="10%" />
        <col width="5%" />
        <col width="10%" />
        <col width="5%" />
        <col width="5%" />
        <col width="5%" />
        <col width="5%" />
        <col width="5%" />
        <col width="5%" />
    </colgroup>
    <thead>
        <tr>
            <th colspan="2">[% gettext('IP : Port') %]</th>
            <th>[% gettext('Client') %]</th>
            <th>[% gettext('Flags') %]</th>
            <th>[% gettext('Available') %]</th>
            <th>[% gettext('%') %]</th>
            <th>[% gettext('Down Speed') %]</th>
            <th>[% gettext('Up Speed') %]</th>
            <th>[% gettext('Peer Rate') %]</th>
            <th>[% gettext('Down Total') %]</th>
            <th>[% gettext('Up Total') %]</th>
            <th>[% gettext('Peer Total') %]</th>
        </tr>
    </thead>
    [% FOR peer = data.list %]
        [% SET class = [] %]
        [% IF loop.index % 2; class.push('odd'); ELSE; class.push('even'); END %]
        <tbody class="[% class.join(' ') %]">
            <tr>
                <td class="country">
                    <img
                        alt="[% peer.country_code | lower %]"
                        title="[% gettext(peer.country_name) %]"
                        src="img/flag/[% peer.country_code _ '.png' | lower %]" />
                </td>
                <td
                    class="address"
                    title="[% gettext('Id') _ ': ' _ peer.id %]">
                        [% peer.address _ ' : ' _ peer.port %]
                </td>
                <td class="client">[% peer.client_version %]</td>
                <td class="flag">
                    [% IF peer.is_incoming %][% ' ' _ gettext('Inc') %][% END %]
                    [% IF is_encrypted %][% ' ' _ gettext('Enc') %][% END %]
                    [% IF peer.is_obfuscated %][% ' ' _ gettext('Obf') %][% END %]
                    [% IF peer.is_snubbed %][% ' ' _ gettext('Snub') %][% END %]
                </td>
                <td class="done">[% peer.completed_percent %]%</td>
                <td class="percent">
                    <div class="percent" style="width: [% peer.completed_percent %]%;">
                        &nbsp;
                    </div>
                </td>
                <td class="down_speed">[% peer.down_rate %]</td>
                <td class="up_speed">[% peer.up_rate %]</td>
                <td class="peer_rate">[% peer.peer_rate %]</td>
                <td class="down_total">N/A[%# peer.down_total %]</td>
                <td class="up_total">N/A[%# peer.up_total %]</td>
                <td class="peer_total">N/A[%# peer.peer_total %]</td>
            </tr>
        </tbody>
    [% END %]
</table>
[% END ###################################################################### %]

[% BLOCK Files ############################################################## %]
<table class="files">
    <colgroup>
        <col width="1%" />
        <col width="69%" />
        <col width="5%" />
        <col width="5%" />
        <col width="10%" />
        <col width="5%" />
        <col width="5%" />
    </colgroup>
    <thead>
        <tr>
            <th/>
            <th>[% gettext('Path') %]</th>
            <th>[% gettext('Size') %]</th>
            <th>[% gettext('Done') %]</th>
            <th>[% gettext('%') %]</th>
            <th>[% gettext('Chunks') %]</th>
            <th>[% gettext('Priority') %]</th>
        </tr>
    </thead>
    [% FOR file = data.info %]
        [% SET class = [] %]
        [% IF loop.index % 2; class.push('odd'); ELSE; class.push('even'); END %]
        [% IF data.file == file.hash; class.push('selected'); END %]
        <tbody class="[% class.join(' ') %]">
            <tr>
                <td class="select">
                    <input
                        type="checkbox"
                        name="hash[]"
                        value="[%# %]"/>
                </td>
                <td class="path">[% file.path %]</td>
                <td class="size">[% file.human_size %]</td>
                <td class="spercent">[% file.percent %]</td>
                <td class="percent">
                    <div class="percent" style="width: [% file.percent %];">
                        &nbsp;
                    </div>
                </td>
                <td class="chunks">[% file.size_chunks %]</td>
                <td class="priority">[%# gettext(file.priority_str) %]</td>
            </tr>
        </tbody>
    [% END %]
</table>
[% END ###################################################################### %]

[% BLOCK Trackers ########################################################### %]
<table class="trackers">
    <colgroup>
        <col/>
        <col width="5%" />
        <col width="10%" />
        <col width="10%" />
    </colgroup>
    <thead>
        <tr>
            <th>[% gettext('Url') %]</th>
            <th>[% gettext('Enabled') %]</th>
            <th>[% gettext('Interval') %]</th>
            <th>[% gettext('Last Update') %]</th>
        </tr>
    </thead>
    [% FOR tracker = data.info %]
        [% SET class = [] %]
        [% IF loop.index % 2; class.push('odd'); ELSE; class.push('even'); END %]
        <tbody class="[% class.join(' ') %]">
            <tr>
                <td class="url">[% tracker.url %]</td>
                <td class="enabled">
                    [% IF tracker.is_enabled %][% gettext('Yes') %]
                    [% ELSE %][% gettext('No') %]
                    [% END %]
                </td>
                <td class="interval">[% tracker.normal_interval %]</td>
                <td class="last_update">
                    [% UNLESS tracker.scrape_time_last %][% gettext('Never') %]
                    [% ELSE %][% tracker.scrape_time_last %]
                    [% END %]
                </td>
            </tr>
        </tbody>
    [% END %]
</table>
[% END ###################################################################### %]

[% BLOCK Chunks ############################################################# %]
[% END ###################################################################### %]

[% BLOCK Transfer ########################################################### %]
[% END ###################################################################### %]