<form action="index.cgi?show=prop" method="post" id="form">
<input type="hidden" name="show" value="prop" />
<input type="hidden" id="do" name="do" value="" />

<table class="files">
    <colgroup>
        <col width="1%" />
        <col/>
        <col width="5%" />
        <col width="5%" />
        <col width="10%" />
        <col width="5%" />
        <col width="5%" />
    </colgroup>
    <thead>
        <tr>
            <th>
                <input type="checkbox" class="all"
                       id="all_files" name="all_files"
                    [% IF data.all_files == 'true' %]checked="checked"[% END %]
                    title="[% gettext('Select/Unselect all') %]"
                 />
            </th>
            <th>
                [% gettext('Path')          %]
            </th>
            <th>[% gettext('Size')          %]</th>
            <th>[% gettext('Done')          %]</th>
            <th>[% gettext('%')             %]</th>
            <th>[% gettext('Chunks')        %]</th>
            <th>[% gettext('Priority')      %]</th>
        </tr>
    </thead>

    <tbody>
    [% FOR file = data.tree %]
        [%
            SET class = [];
            IF loop.index % 2; class.push('odd'); ELSE; class.push('even'); END;
            IF data.file == file.hash; class.push('selected'); END;
            class.push('level' _ file.level);
        %]
        [% IF file.type == 'dir' %]
            [% class.push('folder') %]
            [% IF file.open; class.push('open'); END; %]
            <tr class="[% class.join(' ') %]">
                <td class="select">
                    <input
                        [% IF data.folder.${file.index} %]
                            checked="checked"
                        [% END %]
                        type="checkbox" class="folder" name="folder[]"
                        value="[% file.index %]"/>
                </td>
                <td colspan="7" class="path">
                    <div class="mime"
                         style="width: [% (file.level + 1) * 16 %]px"
                         title="folder">
                         &nbsp;
                    </div>
                    [% file.name %]
                </td>
            </tr>

        [% ELSE %]
            [% class.push('file'); %]
            <tr class="[% class.join(' ') %]">
                <td class="select">
                    <input
                        [% IF data.index.${file.index} %]
                            checked="checked"
                        [% END %]
                        type="checkbox" name="index[]"
                        value="[% file.index %]"/>
                </td>
                <td class="path">
                    <div class="mime" style="width: [% (file.level + 1) * 16 %]px">
                        [% IF file.data.mime %]
                            <img
                                alt="[% file.data.mime.type | lower %]"
                                title="[% file.data.mime.type %]"
                                src="[% config.url.skin.mime _ '/' _
                                        file.data.mime.mediaType _ '.png' | lower %]"
                            />
                        [% END %]
                    </div>
                    [% IF file.dlink %]<a href="[% file.dlink %]">[% END %]
                    [% file.name %]
                    [% IF file.dlink %]</a>[% END %]
                </td>
                <td class="size">[% file.data.size_bytes.as_human_size %]</td>
                <td class="spercent">[% file.data.percent %]</td>
                <td class="percent">
                    <div class="percent" style="width: [% file.data.percent %];">
                        &nbsp;
                    </div>
                </td>
                <td class="chunks">[% file.data.size_chunks %]</td>
                <td class="priority">[% gettext(file.data.priority_str) %]</td>
            </tr>
        [% END %]
    [% END %]
    </tbody>
</table>

</form>
