<table class="status">
    <colgroup>
        <col width="25%" />
        <col/>
        <col width="25%" />
    </colgroup>

    <tbody>
        <tr>
            <td class="version">
                <a href="http://rtpg.uvw.ru/"
                   title="[% gettext('Used') _': ' _
                             'rtorrent ' _ data.info.client_version _ ', ' _
                             gettext('library') _ ' ' _
                             data.info.library_version %]"
                   target="blank"
                >
                    RTPG v.[% version %]
                </a>
            </td>
            <td class="speed">
                [%
                    SET speed = [
                        4, 8, 12, 16, 24, 48, 96, 128, 256, 512, 1024, 2048,
                        3072, 4096, 6144, 8192, 10240,  20480, 40960, 61440,
                        81920, 102400
                    ];
                    FOR speed;
                        speed.${loop.index} = speed.${loop.index} * 1024;
                    END;
                %]
                [%
                    gettext('Down Speed') _ ': ' _
                    data.rates.current_download_rate.as_human_speed _ ' ' _
                    gettext('Max') _ ':'
                %]
                <select id="download_rate"
                    title="[% gettext('Select max download speed') | html %]">
                    <option value="0">[% gettext('Unlimited') %]</option>
                    [% FOR val = speed %]
                        [%
                            SET prev = loop.index - 1;
                            SET next = loop.index;
                        %]
                        [% IF speed.${prev} < data.rates.download_rate &&
                              speed.${next} > data.rates.download_rate %]
                            <option
                                value="[% data.rates.download_rate %]"
                                selected="selected"
                            >
                                [% data.rates.download_rate.as_human_speed %]
                            </option>
                        [% END %]

                        <option
                            value="[% val %]"
                            [% IF data.rates.download_rate == val %]
                                selected="selected"
                            [% END %]
                            >
                                [% val.as_human_speed %]
                        </option>
                    [% END %]
                </select>
                &nbsp;&nbsp;
                [%
                    gettext('Up Speed') _ ': ' _
                    data.rates.current_upload_rate.as_human_speed _ ' ' _
                    gettext('Max') _ ':'
                %]
                <select id="upload_rate"
                    title="[% gettext('Select max upload speed') | html %]">
                    <option value="0">[% gettext('Unlimited') %]</option>
                    [% FOR val = speed %]
                        [%
                            SET prev = loop.index - 1;
                            SET next = loop.index;
                        %]
                        [% IF speed.${prev} < data.rates.upload_rate &&
                              speed.${next} > data.rates.upload_rate %]
                            <option
                                value="[% data.rates.upload_rate %]"
                                selected="selected"
                            >
                                [% data.rates.upload_rate.as_human_speed %]
                            </option>
                        [% END %]

                        <option
                            value="[% val %]"
                            [% IF data.rates.upload_rate == val %]
                                selected="selected"
                            [% END %]
                            >
                                [% val.as_human_speed %]
                        </option>
                    [% END %]
                </select>
            </td>
            <td class="copyright">
                <span class="nowrap">
                    Copyright &copy; 2008 - 2010
                </span>
                <a href="mailto:unera@debian.org" class="nowrap">
                    [% gettext('Dmitry E. Oboukhov') %]
                </a>,
                <a href="mailto:rshadow@rambler.ru" class="nowrap">
                    [% gettext('Roman V. Nikolaev') %]
                </a>
            </td>
        </tr>
    </tbody>
</table>
