<body>
<div id="status">
    <a href="http://rtpg.uvw.ru/"
       title="[% gettext('Used') _': ' _
                 'rtorrent ' _ data.info.client_version _ ', ' _
                 gettext('library') _ ' ' _ data.info.library_version %]">
        RTPG v.[% version %]
    </a>
</div>
<div id="copyright">
    Copyright &copy; 2008 - 2010
    <a href="mailto:unera@debian.org">[% gettext('Dmitry E. Oboukhov') %]</a>,
    <a href="mailto:rshadow@rambler.ru">[% gettext('Roman V. Nikolaev') %]</a>
</div>
<div id="speed">
    [% gettext('Down Speed') _ ': ' _ data.info.download_rate %]
    &nbsp;&nbsp;&nbsp;
    [% gettext('Up Speed') _ ': ' _ data.info.upload_rate %]
</div>
</body>